$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
.castello {
  &-container {
    @include make-container();
    @include make-container-max-widths();
    margin: 0 auto;
  }
  &-row {
    @include make-row();
  }
  &-col {
    @include make-col-ready();
    &_10-center {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
      }
    }
  }
}
